#urlInput {
	width: 90%;
}

body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 1vw;
}

body, button, input {
    font-size: 2rem
}
